* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 400;
    background-color: rgb(243, 190, 178);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #b65d5d;
    background-color: rgb(243, 190, 178);
    z-index: 10000;
}

.logo {
    width: 40px;
    color: rgb(213, 106, 113);
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    color: rgb(213, 106, 113);
    text-decoration: none;
}

.nav-links a {
    margin-left: 30px;
    text-decoration: none;
    color:solid rgb(213, 106, 113);
    
}

.nav-links a:hover {
    text-decoration: underline;
    color: rgb(106, 32, 43);
}

.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    font-weight: 400;
    font-size: 128px;
    color: rgb(213, 106, 113);
}

.hand-container {
    width: 80px;
    position: absolute;
    bottom: 20px;
}

.hand-container.left {
    left: 20px;
}

.hand-container.right {
    right: 20px;
}

.two-column {
    display: flex;
    border-top: 1px solid rgb(213, 106, 113);
    

}

.image-container {
    width: 50%;
}

.text-container {
    flex: 1;
    padding: 20px;
}

h2 {
    font-size: 36px;
    margin-bottom: 36px;
    text-decoration: none;
}

h2 a {
    color: rgb(213, 106, 113)
}

h2 a:hover {
    color: rgb(106, 32, 43);
}

p {
    font-size: 20px;
    line-height: 1.2;
    color:rgb(213, 106, 113)
}

.two-column.reverse {
    flex-direction: row-reverse;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3{
    margin-bottom: 10px;
}
.massage{
width:500px ;
height: 900px;
margin-top: 200px;
margin-left: 80px;

}

.message{
    width:500px ;
    height: 900px;
    margin-top: 400px;
    margin-left: 80px;
    }
    