* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 400;
    background-color: rgb(243, 190, 178);
        padding: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #b65d5d;
    background-color: rgb(243, 190, 178);
    z-index: 10000;
}

.logo {
    width: 40px;
    color: rgb(213, 106, 113);
    text-decoration: none;
}
.logo a:hover {
    text-decoration: underline;
    color: rgb(162, 56, 63)
}
img {
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    color: rgb(213, 106, 113);
    text-decoration: none;
}

.nav-links a {
    margin-left: 30px;
    text-decoration: none;
    color:solid rgb(213, 106, 113);
    
}

.nav-links a:hover {
    text-decoration: underline;
    color: rgb(162, 56, 63)
}

.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    font-weight: 400;
    font-size: 128px;
    color: rgb(213, 106, 113);
}

.hand-container {
    width: 80px;
    position: absolute;
    bottom: 20px;
}

.hand-container.left {
    left: 20px;
}

.hand-container.right {
    right: 20px;
}

.two-column {
    display: flex;
    border-top: 1px solid rgb(213, 106, 113);
    

}

.image-container {
    width: 50%;
}

.text-container {
    flex: 1;
    padding: 20px;
    text-decoration: none;
    
}

h2 {
    font-size: 36px;
    margin-bottom: 36px;
    text-decoration: none;
}

h2 a {
    color: rgb(213, 106, 113)
    
}

h2 a:hover {
    color: rgb(162, 56, 63)
}

p {
    font-size: 20px;
    color:rgb(213, 106, 113)
}

.two-column.reverse {
    flex-direction: row-reverse;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

h3{margin-bottom: 10px;
}
.massage{
width:500px ;
height: 900px;
margin-left: 80px;

}
.picofme{
    width: 400px;
    height: 500px;
    margin-left:0px;
   
   
    
}

.message{
    width:500px ;
    height: 900px;
    margin-top: 80px;
    margin-left: 80px;
    }
.my-work{
    text-align: center;
    margin-top: 190px;
    font-size: 90px;
}
.portfolio{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1000px;
    margin:auto;
    margin-top: 80px;
}
.codelinks{
    margin-top: 600px;
    font-size: 20px;
    color: rgb(213, 106, 113);
    margin-left: 100px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 8px -16px;
    padding: 5px;
}
.row:after {
    content:"";
    display: table;
    clear: both;
}
.column{
    float: left;
    width: 25%;
    padding: 5px;
}
.column img {
    margin-top: 20px;
    vertical-align: middle;
}
.center{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 80px;
}
@media screen and (max-width:900px){
    .column{
        width: 50%;
    }
}
@media screen and (max-width:600px){
    .column{
        width: 100%;
    }
}
.aboutpage{
    padding-top: auto;
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 40px;
    color: rgb(162, 56, 63);
    
}
.skills{
    font-size: 40px;
    padding-bottom: 20px;
    color: rgb(162, 56, 63);
   
}
.contacts{
    margin-top: 100px;
    font-size: 40px;
    margin-bottom: 40px;
    color: rgb(162, 56, 63);
}
.email{
    color: rgb(184, 76, 84);
}
.phone{
    margin-top: 10px;
    color: rgb(184, 76, 84);
}
.socialmedia{
    margin-top: 10px;
    color: rgb(184, 76, 84);
}
.section__subtitle{
    font-size: 40px;
    color: rgb(162, 56, 63);
}
span{
    color: rgb(162, 56, 63);
}
a:link{
    text-decoration: none;
    color:rgb(184, 76, 84)
}
.newpage{
    margin-top: 100px;
    color: rgb(162, 56, 63);
    font-size: 40px;
    margin-left: 10px;
   
    
}
.content2{
    margin-left: 10px;
}
.generative{
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: auto;
    margin-left: 0px;
}
.generative a:hover{
    text-decoration: underline;
    color: rgb(162, 56, 63);
}
.portrait{
    font-size: 20px;
    color: rgb(213, 106, 113)
    margin-top: 100px;
    margin-right: 300px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.portrait a:hover {
    text-decoration: underline;
    color: rgb(162, 56, 63)
}
.maxim{
    font-size: 20px;
    color: rgb(213, 106, 113);
    margin-right: 500px;
    margin-top:auto;
    margin-left: 20px;
}
.maxim a:hover{
    text-decoration: underline;
    color: rgb(162, 56, 63);
}
.clock{
    font-size: 20px;
    color: rgb(213, 106, 113);
    margin-right: 500px;
    margin-left: 20px;
}
.clock a:hover{
    text-decoration: underline;
    color: rgb(162, 56, 63);
}
.draw{
    font-size: 20px;
    color: rgb(213, 106, 113);
    margin-right: 300px;
    margin-left: 20px;
   
}
.draw a:hover{
    text-decoration: underline;
    color: rgb(162, 56, 63);
}
.pb{
    width:700px;
    height: 800px;
}
.button{
    width: 200px;
    height:300px;
    margin-bottom: 0px;
}
.greenclock{
    width:600px;
    height:700px;
}
.drawingapp{
    width:200px;
    height:300px;
}
.drawingapp2{
    margin-top: 40px;
    width:300px;
    height:400px;
}
.drawingapp3{
    width:200px;
    height:300px;
    margin-right: 200px;
}
.drawingapp4{
    width:300px;
    height:400px;
}
a:visited{
    color: rgb(213, 106, 113);
}
